MERCADOPAGO_PUBLIC_KEY=APP_USR-5d1ce656-d74a-49f2-b6d7-7279bf437872
MERCADOPAGO_ACCESS_TOKEN=PEGAR_ACA_TU_ACCESS_TOKEN
PORT=3001
APP_SUCCESS_URL=https://wa.me/542615188484?text=Hola%20Cerrajeria%20APRI%2C%20ya%20realice%20el%20pago.
APP_FAILURE_URL=https://wa.me/542615188484?text=Hola%20Cerrajeria%20APRI%2C%20tuve%20un%20problema%20con%20el%20pago.
APP_PENDING_URL=https://wa.me/542615188484?text=Hola%20Cerrajeria%20APRI%2C%20mi%20pago%20quedo%20pendiente.
MERCADOPAGO_WEBHOOK_URL=https://apri-cerrajeria.onrender.com/api/webhook
